.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}
.menu-content {
  width: 50%;
  padding: 50px;
}
.menu-image {
  width: 50%;
  padding: 10px;
}
.menu-image img {
  width: 100%;
}
.menu-content h5 {
  color: rgb(109, 109, 109);
  margin-bottom: 20px;
}
.menu-content p {
  margin-top: 20px;
  color: rgb(123, 123, 123);
}
