.direction {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
}
.direction .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}
