.allPizza {
  text-align: center;
  margin: 40px 0;
}
.allPizza .all-Menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}
.individualPizza {
  padding: 20px;
}
.individualPizza img {
  width: 50%;
}
.individualPizza p {
  color: gray;
  margin: 5px 0;
}
