* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 84%;
  margin: auto;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.btn {
  background-color: rgb(255, 69, 79);
  margin-top: 35px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 30px;
}
